.player-console {
  display: block;
}


.player-comsole{
	display: inline;
	float: right;
}



.main-page{
	background-image: url("img/dice.png");
    color: black;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 22em;
    padding-bottom: 22em;
    opacity: 0.9;
}




#footer{
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
    width:100%;



  