


.main-page{
	background-image: url("img/dice2.jpg");
    color: black;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 22em;
    padding-bottom: 22em;
    opacity: 0.8;
}




#footer{
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
    width:100%;

}


.rules{
    width: 75%;
    height:700px;


}


li{
    color: maroon;
}

h3{
    text-align: center;

}
  